#sec1Photo
{
    border-radius: 15%;
    width: 250px;
} */

.boxSection
{
    margin-top: 40px;
    width: 55%;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.808);
    margin-left: auto;
    margin-right: auto;
}

h3
{
    font-size: 70px;
    padding: 0%;
    margin: 0;
    font-family: sans-serif;
    color: #EE9033;
}

h4
{
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    padding: 0%;
    margin: 0;
}

#SectionAboutMe{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") center no-repeat;
    background-size: cover;
}

section .layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section h3{
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 7em;
}