/* New portfolio css starts */

@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-nav{
    width: 100%;
    height: 4rem;
    padding: 0 2.5rem;
    background: #26383f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo a{
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    color: #feffff;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: .75rem 0rem;
}

.logo a:hover{
    color: #feffff;
}

header h1{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #feffff;
    position: absolute;
    font-weight: 200;
    right: 0;
    top: 0;
    padding-top: 1.1rem;
    padding-right: 5.5rem;
}

.hamburger-menu{
    height: 2.2rem;
    width: 2.2rem;
    background-color: #eee;
    border-radius: .3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.hamburger-menu:hover{
    box-shadow: inset .5rem .5rem 1rem #cacaca, inset -.5rem -.5rem 1rem #fff;
}

.bar{
    width: 1rem;
    height: 2px;
    background-color: #333;
    display: flex;
    position: absolute;
    transition: background-color .5s;
}

.bar::before,
.bar::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #333;
    transition: all .5s;
}

.bar::before{
    top: -.6rem;
}

.bar::after{
    top: .6rem;
}

.open .bar{
    background-color: transparent;
}

.open .bar::before{
    top: 0;
    transform: rotate(135deg);
}

.open .bar::after{
    top: 0;
    transform: rotate(-135deg);
}

.nav-list{
    width: 35rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #17252a;
    transform: translateX(55rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -.5rem 0 1rem rgba(0, 0, 0, .2);
    z-index: 1500;
    transition: transform .5s;
}

.nav-item{
    list-style: none;
    border-bottom: 2px solid #2692c0;
}

.nav-item a{
    color: #feffff;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.nav-item a:hover{
    color: #feffff;
}

.nav-list .nav-item:hover{
    border-bottom: 2px solid #17252a;
}

.open .nav-list{
    transform: translateX(0);
}

/* nav bar ends */

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

section .intro-container{
    max-width: 100%;
    height: 100vh;
;
    background-color: #3AAFA9;
}

.wrapper{
    width: 200px;
    height: 200px;
    margin: 8% auto 1% auto;
}

.box-area{
    animation: animate 12s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
}

.box-area div{
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200;
}

.box-area .box-1{
    background-image: url('../../imgs/box_1_image.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: translateZ(100px);
}

.box-area .box-2{
    background-image: url('../../imgs/box_2_image.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) translateZ(100px);
}

.box-area .box-3{
    background-image: url('../../imgs/box_3_image.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.box-area .box-4{
    background-image: url('../../imgs/box_4_image.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.box-area .box-5{
    background-image: url('../../imgs/box_5_image.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.box-area .box-6{
    background-image: url('../../imgs/box_6_image.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateX(-90deg) translateZ(100px);
}

section .full-name{
    margin-top: 4%;
    color: #feffff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 4px;
    margin-left: -4px;
}

section .sub-name{
    color: #feffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.85rem;
    letter-spacing: 2px;
    margin-left: -2px;
}

section .learn-more-container{
    margin-top: 14.5%;
}

section .learn-more{
    color: #feffff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: -2px;
    margin-bottom: 0;
}

section a:hover{
    text-decoration: none;
    color: black;
}

section .about-me-container{
    width: 100%;
    max-width: 100%;
    height: 85vh;
    background-color: #2d817e;
}

section .about-me-header{
    font-size: 2.25rem;
    color: #feffffef;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    font-weight: 600;
    letter-spacing: 6px;
    margin-left: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

section .line{
    margin: 10rem auto 0 auto;
    height: 3px;
    background-color: rgba(66, 66, 66, 0.705);
}

section #info-text-container{
    padding-top: 2rem;
    margin: 0 auto;
}

section #info-text-container h5{
    font-size: 1.5rem;
    color: #feffffc7;
    margin: 2rem;
    font-weight: 400;
}

section .line-bottom{
    margin: 5rem auto;
    border-bottom: 3px solid rgba(66, 66, 66, 0.63);
}

section .social-media-container{
    margin-left: .7rem;
}

section #scroll-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 175%;
    width: 15px;
    width: 100%;
}

.scroll-down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse{
    position: absolute;
    width: 1.75rem;
    height: 3.5rem;
    border: 2px solid #feffff;
    border-radius: 2rem;
    margin-left: .4rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.mouse span{
    width: .75rem;
    height: .75rem;
    background-color: #feffff;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite
}

.arrow span{
    position: absolute;
    margin-top: 3.35%;
    left: 50%;
    transform: translateX(-50%);
    width: .75rem;
    height: .75rem;
    border: 2px solid transparent;
    border-right-color: #feffff;
    border-bottom-color: #feffff;
    transform: rotate(45deg);
    animation: move-arrow .5s alternate infinite;
}

/* keyframe animations */

@keyframes animate{
    from, to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%{
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83%{
        transform: rotateY(0deg);
    }
}

/* keyframe animations for mouse-scroll */

@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes move-arrow {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}

/* project homepage css */

section .project-one-container{
    height: 50vh;
    width: 100%;
    background: #17252a;
}

section .gym-bro-image img{
    height: 50.75%;
}

section .project-one-container h1{
    margin-top: 4.5rem;
    color: #feffff;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 38px;
}

section .project-one-container h5{
    margin-top: 4.5rem;
    width: 100%;
    padding: 0 7rem;
    margin-left: auto;
    margin-right: auto;
    color: #feffff;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-align: left;
}

section .project-one-container p{
    margin-top: 4.5rem;
    color: #feffff;
    font-size: 22px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

section .project-one-container a{
    color: #feffff;
    text-decoration: underline;
    text-decoration-color: #3AAFA9;
}

section .project-one-container a:hover{
    text-decoration: none;
}

/* project two css */

section .project-two-container{
    height: 50vh;
    width: 100%;
    background: #1d2a30;
}

section .covid-image img{
    height: 484px;
    margin-left: 45px;
}

section .project-two-container h1{
    margin-top: 6rem;
    color: #feffff;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 38px;
}

section .project-two-container h5{
    margin-top: 5rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #feffff;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-align: left;
}

section .project-two-container p{
    margin-top: 5rem;
    color: #feffff;
    font-size: 22px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

section .project-two-container a{
    color: #feffff;
    text-decoration: underline;
    text-decoration-color: #3AAFA9;
}

section .project-two-container a:hover{
    text-decoration: none;
}

/* project three css */

section .project-three-container{
    height: 50vh;
    width: 100%;
    background: #17252a;
}

section .crepuscolo-image img{
    height: 484px;
}

section .project-three-container h1{
    margin-top: 6rem;
    color: #feffff;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 38px;
}

section .project-three-container h5{
    margin-top: 5.5rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #feffff;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-align: left;
}

section .project-three-container p{
    margin-top: 5.5rem;
    color: #feffff;
    font-size: 22px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

section .project-three-container a{
    color: #feffff;
    text-decoration: underline;
    text-decoration-color: #3AAFA9;
}

section .project-three-container a:hover{
    text-decoration: none;
}

/* project four css */

section .project-four-container{
    height: 50vh;
    width: 100%;
    background: #1d2a30;
}

section .spider-image img{
    height: 485.25px;
    margin-left: 45px;
}

section .project-four-container h1{
    margin-top: 6rem;
    color: #feffff;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 38px;
}

section .project-four-container h5{
    margin-top: 5rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #feffff;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-align: left;
}

section .project-four-container p{
    margin-top: 5rem;
    color: #feffff;
    font-size: 22px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

section .project-four-container a{
    color: #feffff;
    text-decoration: underline;
    text-decoration-color: #3AAFA9;
}

section .project-four-container a:hover{
    text-decoration: none;
}

/* resume container css */

section .resume-container{
    height: 45vh;
    background: #2692c0;
    margin-left: auto;
    margin-right: auto;
}

section .resume-container h1{
    margin-top: 5rem;
    color: #feffff;
    font-weight: 600;
    letter-spacing: 4px;
    margin-left: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
}

section .resume-container .line{
    margin-top: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 6%;
    background: #1d2a3070;
}

section .resume-links{
    margin-top: 4rem;
}

section .resume-links a{
    color: #feffffd8;
    font-size: 26px;
    text-decoration: underline;
    text-decoration-color: #feffffd8;
}

section .resume-links a:hover{
    text-decoration: none;
}

/* contact css */

section .contact-footer-container{
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom,rgba(0,0,0,.6), rgba(0,0,0,.6)), url("https://images.unsplash.com/photo-1572666341285-c8cb9790ca50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center, no-repeat;
    background-size: cover;
    width: 100%;
}

section .contact-container{
    padding-top: 8rem;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}

section .contact-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 7rem;
}

section .contact-container h1{
    font-size: 28px;
    color: #feffff;
    text-transform: uppercase;
    padding-right: 10rem;
}

section .contact-container p{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: flex-end;
    font-size: 24px;
    padding-left: 12rem;
    color: #feffff;
}

section .contact-social-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10rem;
    text-decoration: none;
}

section .contact-social-links a:hover{
    color: #feffff;
}

section .email-button{
    padding: 1rem 6rem;
    margin-bottom: 2rem;
    background: transparent;
    box-shadow: inset 0 0 0 2px #3fe2e2;
    color: #feffff;
    font-size: 1rem;
    text-transform: uppercase;
}

section .email-button:hover{
    box-shadow: inset 0 0 0 2px #feffff;
}

section .linkedin-button{
    padding: 1rem 5.2rem;
    margin-bottom: 2rem;
    background: transparent;
    box-shadow: inset 0 0 0 2px #ff2f0a;
    color: #feffff;
    font-size: 1rem;
    text-transform: uppercase;
}

section .linkedin-button:hover{
    box-shadow: inset 0 0 0 2px #feffff;
}

section .footer-container{
    padding-top: 5rem;
    height: 30vh;
    background: #17252ac7;
}

section .footer-container h1{
    font-size: 15px;
    padding-top: 8px;
    color: #feffffc9; 
    text-transform: uppercase;
}

/* media queries */

@media only screen and (max-width: 1440px) {
    
    section .wrapper{
        margin-top: 9rem;
        height: 0;
    }

    section .full-name{
        margin-top: 20rem;
        font-size: 4.5rem;
    }

    section .sub-name{
        font-size: 1.75rem;
    }

    section .learn-more{
        margin-top: .25rem;
    }
    
    section .line{
        margin: 8rem auto 0 auto;
        height: 3px;
        background-color: rgba(66, 66, 66, 0.705);
    }

    section .line-bottom{
        margin: 4.5em auto;
        border-bottom: 3px solid rgba(66, 66, 66, 0.63);
    }
    
    .arrow span{
        margin-top: 4rem;
    }

    section .project-one-container{
        height: 43vh;
        width: 100%;
        background: #17252a;
    }
    
    section .gym-bro-image img{
        height: 41.75%;
    }
    
    section .project-one-container h1{
        margin-top: 2.6rem;
        padding: 0 6rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
    }
    
    section .project-one-container h5{
        margin-top: 3.5rem;
        width: 100%;
        padding: 0 10rem;
        margin-left: auto;
        margin-right: auto;
        color: #feffff;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        text-align: left;
    }
    
    section .project-one-container p{
        margin-top: 2rem;
        color: #feffff;
        padding: 0 5rem;
        font-size: 20px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    section .project-two-container{
        height: 43vh;
        width: 100%;
        background: #1d2a30;
    }

    section .covid-image img{
        height: 41.25%;
        padding: 0;
        margin: 0;
    }

    section .project-two-container h1{
        margin-top: 2.5rem;
        padding: 0 6rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
    }

    
    section .project-two-container h5{
        margin-top: 5rem;
        width: 100%;
        padding: 0 8rem 0 9rem;
        margin-left: auto;
        margin-right: auto;
        color: #feffff;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        text-align: left;
    }
    
    section .project-two-container p{
        margin-top: 4rem;
        color: #feffff;
        padding: 0 5rem;
        font-size: 20px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    section .project-three-container{
        height: 43vh;
        width: 100%;
        background: #17252a;
    }
    
    section .crepuscolo-image img{
        height: 63%;
    }
    
    section .project-three-container h1{
        margin-top: 3rem;
        padding: 0 8rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
    }
    
    section .project-three-container h5{
        margin-top: 3.5rem;
        width: 100%;
        padding: 0 10rem;
        margin-left: auto;
        margin-right: auto;
        color: #feffff;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        text-align: left;
    }
    
    section .project-three-container p{
        margin-top: 5rem;
        color: #feffff;
        padding: 0 5rem;
        font-size: 20px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    section .project-four-container{
        height: 43vh;
        width: 100%;
        background: #1d2a30;
    }

    section .spider-image img{
        height: 77.75%;
        padding: 0;
        margin: 0;
    }

    section .project-four-container h1{
        margin-top: 3rem;
        padding: 0 6rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
    }

    
    section .project-four-container h5{
        margin-top: 5rem;
        width: 100%;
        padding: 0 8rem 0 9rem;
        margin-left: auto;
        margin-right: auto;
        color: #feffff;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        text-align: left;
    }
    
    section .project-four-container p{
        margin-top: 4rem;
        color: #feffff;
        padding: 0 5rem;
        font-size: 20px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    section .resume-container h1{
        margin-top: 4rem;
    }

    section .resume-links{
        margin-top: 3rem;
    }

    section .contact-text h1{
        font-size: 2rem;
        padding-right: 6.5rem;
    }

    section .contact-text p{
        font-size: 1.5rem;
        width: 100%;
        padding-left: 15rem;
    }
}

@media only screen and (max-width: 1024px) {


    section .wrapper{
        height: 0;
    }

    section .full-name{
        margin-top: 18rem;
        font-size: 4rem;
    }

    section .sub-name{
        font-size: 1.75rem;
    }

    section .learn-more{
        margin-top: 3.5rem;
    }
    
    section .wrapper{
        margin-top: 9rem;
    }
    
    section .line{
        margin: 10rem auto 0 auto;
        height: 3px;
        background-color: rgba(66, 66, 66, 0.705);
    }
    
    section #info-text-container{
        padding-top: 0rem;
        margin: 0 auto;
    }
    
    section #info-text-container h5{
        font-size: 1.4rem;
        color: #feffffc7;
        margin: 2rem;
        font-weight: 400;
    }
    
    section .line-bottom{
        margin: 3em auto;
        border-bottom: 3px solid rgba(66, 66, 66, 0.63);
    }

    .arrow span{
        margin-top: 4rem;
    }

    section .gym-bro-image img{
        height: 24%;
        padding: 1rem;
    }

    section .project-one-container h1{
        position: absolute;
        width: 100%;
        top: -49.5rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    section .project-one-container h5{
        position: absolute;
        top: -48.5rem;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        text-align: center;
    }
    
    section .project-one-container p{
        position: absolute;
        top: -42rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #sec1 > div > section.container-fluid.project-one-container > div > div.col-xs-12.col-sm-12.col-md-7.text-center.gym-bro-text > p > a:nth-child(1) > svg{
        height: 1rem;
    }

    section .project-two-container a{
        color: #feffff;
        text-decoration: underline;
        text-decoration-color: #3AAFA9;
    }

    section .covid-image img{
        height: 24%;
        margin: 0;
        padding: 1rem;
    }

    section .project-two-container{
        height: 50vh;
        width: 100%;
        background: #1d2a30;
    }

    section .project-two-container h1{
        position: absolute;
        margin-top: 4rem;
        width: 100%;
        top: 11rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    section .project-two-container h5{
        position: absolute;
        top: 14.75rem;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        text-align: center;
    }
    
    section .project-two-container p{
        position: absolute;
        top: 20rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #sec1 > div > section.container-fluid.project-two-container > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-7.text-center.covid-image-text > p > a:nth-child(1) > svg {
        height: 1.5rem;
    }

    section .crepuscolo-image img{
        height: 32%;
        padding: 1rem;
    }

    section .project-three-container h1{
        position: absolute;
        margin-top: 4rem;
        width: 100%;
        top: -32rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    section .project-three-container h5{
        position: absolute;
        margin-top: 1.25rem;
        top: -26rem;
        color: #feffff;
        width: 100%;
        padding: 0 5rem 0 3rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        text-align: center;
    }
    
    section .project-three-container p{
        position: absolute;
        margin-top: 1.5rem;
        top: -22rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    section .spider-image img{
        height: 38%;
        padding: 1rem;
    }

    section .project-four-container h1{
        position: absolute;
        width: 100%;
        margin-top: 13rem;
        top: 0;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    section .project-four-container h5{
        position: absolute;
        margin-top: 16.25rem;
        top: 0;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        text-align: center;
    }
    
    section .project-four-container p{
        position: absolute;
        margin-top: 21rem;
        top: 0;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    section .resume-container h1{
        margin-top: 4rem;
    }

    section .resume-links{
        margin-top: 3rem;
    }

    section .contact-text h1{
        font-size: 1.8rem;
        padding-right: 5rem;
    }

    section .contact-text p{
        font-size: 1.25rem;
        width: 100%;
        padding-left: 6rem;
    }
}

@media only screen and (max-width: 768px) {
    section .intro-container {
        max-width: 100%;
        height: auto;
        max-height: auto;
        background-color: #3AAFA9;
    }

    section .mouse{
        visibility: hidden;
    }

    section .arrow{
        visibility: hidden;
    }

    section .wrapper{
        height: 0;
    }

    section .full-name{
        margin-top: 10rem;
        font-size: 2.25rem;
    }

    section .sub-name{
        font-size: 1.5rem;
    }

    section .learn-more{
        visibility: hidden;
    }

    section #arrow-icon{
        visibility: hidden;
    }
    
    section .box-area{
        visibility: hidden;
    }

    section .about-me-header{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        font-size: 30px;
    }

    section .line{
        margin: 8rem auto 0 auto;
        height: 3px;
        background-color: rgba(66, 66, 66, 0.705);
    }
    
    section #info-text-container{
        padding-top: 1rem;
        margin: 0 auto;
    }
    
    section #info-text-container h5{
        font-size: 1.4rem;
        color: #feffffc7;
        margin: 2rem;
        font-weight: 400;
    }
    
    section .line-bottom{
        margin: 4rem auto;
        border-bottom: 3px solid rgba(66, 66, 66, 0.63);
    }
    
    section .social-media-container a{
        margin-top: 4rem;
        font-size: 5px;
    }

    section .gym-bro-image img{
        height: 22%;
        padding: 1rem;
    }

    section .project-one-container h1{
        position: absolute;
        width: 100%;
        top: -50.25rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    section .project-one-container h5{
        position: absolute;
        top: -48.75rem;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        text-align: center;
    }
    
    section .project-one-container p{
        position: absolute;
        top: -42.25rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #sec1 > div > section.container-fluid.project-one-container > div > div.col-xs-12.col-sm-12.col-md-7.text-center.gym-bro-text > p > a:nth-child(1) > svg{
        height: 1rem;
    }

    /* project one ends */

    section .project-two-container{
        height: 50vh;
        width: 100%;
        background: #1d2a30;
    }

    section .project-two-container a{
        color: #feffff;
        text-decoration: underline;
        text-decoration-color: #3AAFA9;
    }

    section .covid-image img{
        height: 23%;
        margin: 0;
        padding: 1rem;
    }

    section .project-two-container h1{
        position: absolute;
        margin-top: 4rem;
        width: 100%;
        top: 11rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    section .project-two-container h5{
        position: absolute;
        top: 14.25rem;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        text-align: center;
    }
    
    section .project-two-container p{
        position: absolute;
        top: 20rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #sec1 > div > section.container-fluid.project-two-container > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-7.text-center.covid-image-text > p > a:nth-child(1) > svg {
        height: 1.5rem;
    }

    /* project two ends */

    section .crepuscolo-image img{
        height: 33%;
        padding: 1rem;
    }

    section .project-three-container h1{
        position: absolute;
        margin-top: 5rem;
        width: 100%;
        top: -33rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    section .project-three-container h5{
        position: absolute;
        top: -26rem;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        text-align: center;
    }
    
    section .project-three-container p{
        position: absolute;
        top: -22rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    section .spider-image img{
        height: 38%;
        padding: 1rem;
    }

    section .project-four-container h1{
        position: absolute;
        width: 100%;
        margin-top: 13rem;
        top: 0;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    section .project-four-container h5{
        position: absolute;
        margin-top: 16.25rem;
        top: 0;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        text-align: center;
    }
    
    section .project-four-container p{
        position: absolute;
        margin-top: 21rem;
        top: 0;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    section .resume-container h1{
        margin-top: 4rem;
    }

    section .resume-links{
        margin-top: 3rem;
    }

    section .contact-social-links {
        padding: 0 5.5rem;
    }

    section .contact-text{
        font-size: 1.8rem;
        padding-right: 0rem;
    }

    section .contact-text h1{
        font-size: 1.8rem;
        padding-right: 7rem;
        align-items: center;
    }

    section .contact-text p{
        font-size: 1.25rem;
        width: 100%;
        padding-left: 0rem;
        align-items: center;
    }
    
}

@media only screen and (max-width: 576px) {
    
    .main-nav{
        width: 100%;
        height: 6rem;
        padding: 0 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list{
        width: 12rem;
        height: 46vh;
        max-height: auto;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #17252a;
        transform: translateX(55rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: -.5rem 0 1rem rgba(0, 0, 0, .2);
        z-index: 1500;
        transition: transform .5s;
    }

    .nav-item a{
        font-size: .8rem;
    }
    
    section .intro-container {
        max-width: 100%;
        background-color: #3AAFA9;
    }

    section .wrapper{
        height: 0;
    }

    section .full-name{
        margin-top: 11rem;
        font-size: 2.25rem;
    }

    section .sub-name{
        font-size: 1.5rem;
    }

    section .learn-more{
        visibility: hidden;
    }

    section #arrow-icon{
        visibility: hidden;
    }
    
    section .box-area{
        visibility: hidden;
    }

    section .about-me-container{
        max-width: 100%;
        height: 70vh;
        padding-top: 3rem;
    }

    section .about-me-header{
        margin-top: 1rem;
        font-size: 26px;
    }

    
    section .line{
        margin: 6rem auto 0 auto;
        height: 3px;
        background-color: rgba(66, 66, 66, 0.705);
    }
    
    section #info-text-container{
        padding-top: 0rem;
        margin: 0 auto;
    }
    
    section #info-text-container h5{
        font-size: 1rem;
        color: #feffffc7;
        margin: 2rem;
        font-weight: 400;
    }
    
    section .line-bottom{
        margin: 3rem auto;
        border-bottom: 3px solid rgba(66, 66, 66, 0.63);
    }

    section .social-media-container a svg{
        visibility: hidden;
    }

    section .gym-bro-image img{
        height: 20%;
        padding: 1rem;
    }

    section .project-one-container h1{
        position: absolute;
        width: 100%;
        top: -51.5rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 17px;
    }
    
    section .project-one-container h5{
        position: absolute;
        top: -49rem;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 11px;
        text-align: center;
    }
    
    section .project-one-container p{
        position: absolute;
        top: -41.75rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 12px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #sec1 > div > section.container-fluid.project-one-container > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-7.text-center.gym-bro-text > p > a:nth-child(1) > svg{
        height: 1rem;
    }

    /* project one ends */
    
    section .project-two-container a{
        color: #feffff;
        text-decoration: underline;
        text-decoration-color: #3AAFA9;
    }

    section .covid-image img{
        height: 20%;
        margin: 0;
        padding: 1rem;
    }

    section .project-two-container h1{
        position: absolute;
        width: 100%;
        margin-top: 6rem;
        top: 7rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 17px;
    }
    
    section .project-two-container h5{
        position: absolute;
        top: 13rem;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        text-align: center;
    }
    
    section .project-two-container p{
        position: absolute;
        top: 20rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 12px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #sec1 > div > section.container-fluid.project-two-container > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-7.text-center.covid-image-text > p > a:nth-child(1) > svg {
        height: 1rem;
    }

    /* project two ends */

    section .crepuscolo-image img{
        height: 30%;
        padding: 1rem;
    }


    section .project-three-container h1{
        position: absolute;
        width: 100%;
        top: -34rem;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
    }
    
    section .project-three-container h5{
        position: absolute;
        top: -26rem;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        text-align: center;
    }
    
    section .project-three-container p{
        position: absolute;
        top: -21.5rem;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 12px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #sec1 > div > section.container-fluid.project-three-container > div > div.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-7.text-center.crepuscolo-text > p > a:nth-child(1) > svg{
        height: 1rem;
    }

    /* project three ends */

    section .spider-image img{
        height: 36%;
        padding: 1rem;
    }

    section .project-four-container h1{
        position: absolute;
        margin-top: 8rem;
        top: 5rem;
        width: 100%;
        padding: 0 2rem 0 0rem;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 17px;
    }
    
    section .project-four-container h5{
        position: absolute;
        margin-top: 16rem;
        top: 0;
        color: #feffff;
        width: 100%;
        padding: 0 3rem 0 1rem;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        text-align: center;
    }
    
    section .project-four-container p{
        position: absolute;
        margin-top: 21rem;
        top: 0;
        padding: 0 3rem 0 1rem;
        color: #feffff;
        font-size: 12px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    section .resume-container h1{
        margin-top: 4rem;
    }

    section .resume-links{
        margin-top: 3rem;
    }

    section .contact-container{
        padding: 0;
    }

    section .contact-container h1{
        margin-top: 0rem;
        padding: 0;
    }

    section .contact-text h1{
        margin: 1rem auto;
    }

    section .contact-text{
        font-size: 1.8rem;
        margin: 0 auto;
        padding-right: 0;
    }

    section .contact-text p{
        font-size: 1.25rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    section .contact-social-links{
        position: absolute;
        padding: 12rem 0;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}

/* old portfolio css starts */

/* #sec1Photo
{
    border-radius: 15%;
    width: 250px;
}

.boxSection
{
    margin-top: 40px;
    width: 55%;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.808);
    margin-left: auto;
    margin-right: auto;
}

h3
{
    font-size: 70px;
    padding: 0%;
    margin: 0;
    font-family: sans-serif;
    color: #EE9033;
}

h4
{
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    padding: 0%;
    margin: 0;
} */

/* #SectionAboutMe{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") center no-repeat;
    background-size: cover;
} */

/* section .layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

/* section h3{
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 7em;
} */